    body {
        background-color:yellow;

        /* Full height */
        height: 100%;
        
        /* Center and scale*/
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .wrapper{
        margin: 40px;
        background-color:orange;
        height:780px;
    }
    
    .title{
        padding:20px;
    }
    
    .pageTitle{
        padding:20px;
    }
    
    .content{
        padding:20px;
    }